:root {
  --accent-color: #2196f3;
  --hover-color: #188ce8;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --logo-color: #000000;
}
p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

/*------------------HEADER-----------------*/

.header {
  margin-top: 0;
}

.header-logo {
  margin-top: 24px;
  margin-bottom: 25px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.logo-header-part {
  color: var(--accent-color);
}

.header-list {
  display: flex;
}

.header-item + .header-item {
  margin-left: 50px;
}

.header-link {
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-link:hover,
.header-link:focus,
.current {
  color: var(--accent-color);
}
.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/*-------------------------HERO-----------------------*/

.hero {
  background-color: var(--footer-bg-color);
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}
.hero-btn {
  padding: 10px 32px;
  min-width: 200px;

  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-color);
}

/*------------------------NEXT-------------------------*/
.next {
  padding-top: 94px;
  padding-bottom: 94px;
  border: 1px solid #000000;
}
.next-other-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.next-after-title {
  width: 270px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.about-next-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.after-next-title {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/*-----------------------AFTER----------------------*/

.after {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}
.after-main-title {
  margin-bottom: 50px;
}

/*-----------------------TITLE----------------------*/
.after-main-title,
.about-main-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/*-----------------------ABOUT----------------------*/
.about {
  background-color: var(--secondary-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
  border: 1px solid #000000;
  text-align: center;
}

.about-main-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.about-item {
  margin-bottom: 30px;
}

.about-other-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.about-after-title {
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/*-----------------------FOOTER-----------------------*/
.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-after-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
}
.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

/*------------------------PORTFOLIO-------------------------*/

.portfolio-btn {
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.current-btn {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}
/*------------------------FOOTER-------------------------*/

.footer {
  background-color: var(--footer-bg-color);
}
.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
}

.footer-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
}
.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-adress:hover,
.footer-adress:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.logo-footer-part {
  color: var(--accent-color);
}
